<div class="mobile-menu-container" id="mobile_menu_container">
    <button class="mobile-menu-close-btn" id="mobile_menu_close_btn">
        <i class="fas fa-times"></i>
    </button>
    <nav class="mobile-nav">
        <ul class="mobile-menu">
            {% include 'main/_embed/_menu/_menu_item.html.twig' with {
                'targetRoute': 'main_category_show',
                'slug': 'jeans'
            } %}
            {% include 'main/_embed/_menu/_menu_item.html.twig' with {
                'targetRoute': 'main_category_show',
                'slug': 'jackets'
            } %}
            {% include 'main/_embed/_menu/_menu_item.html.twig' with {
                'targetRoute': 'main_category_show',
                'slug': 'shirts'
            } %}
            {% include 'main/_embed/_menu/_menu_item.html.twig' with {
                'targetRoute': 'main_category_show',
                'slug': 't-shirts'
            } %}

            {% include 'main/_embed/_menu/_menu_item.html.twig' with {
                'targetRoute': 'main_category_show',
                'slug': 'sneakers'
            } %}
            {% if app.user %}
                {% include 'main/_embed/_menu/_menu_item.html.twig' with {
                    'targetRoute': 'main_profile_index',
                    'isBold': 1,
                    'slug': 'my_profile'
                } %}
            {% else %}
                {% include 'main/_embed/_menu/_menu_item.html.twig' with {
                    'targetRoute': 'main_login',
                    'isBold': 1,
                    'slug': 'login'
                } %}
            {% endif %}
            {% include 'main/_embed/_menu/_menu_item.html.twig' with {
                'targetRoute': 'main_cart_show',
                'slug': 'cart'
            } %}
        </ul>
    </nav>
</div>