{% if images|length %}
    <div class="row">
        <div class="col-md-12">
            <span class="text-gray-600">Current images:</span>
        </div>
    </div>

    {% for image in images %}
        <div class="row mt-2">
            <div class="col-md-5">
                <img src="{{ asset('uploads/images/products/' ~ product.id ~ '/' ~ image.filenameMiddle) }}" alt="{{ image.filenameMiddle }}">
            </div>
            <div class="col-md-7">
                <a href="#" class="btn btn-outline-info">
                    DELETE
                </a>
            </div>
        </div>
    {% endfor %}

{% endif %}

